@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700&display=swap');

*{
  font-family: 'Geologica', sans-serif;
  margin: 0;
  color: #333;
}

.navbar{
  display: flex;
  align-items: center;
  margin:  0 auto;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px;
  max-width: 600px;
}
.navbar h1{
 color: #6495ed;
}
.navbar .links{
  margin-left: auto;
}
.newBlog{
  background-color: #6495ed;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.newBlog:hover{
  color: rgb(13, 46, 109);
}

.navbar a{
  margin-left: 20px;
  text-decoration: none;
  padding: 5px;
}
a:hover{
 color: cornflowerblue;
}

.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 20px;
  border-radius: 20px;
  border:1px solid #f2f2f2;
  margin: 20px auto;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.blog-preview h2{
color: #6495ed;
}
.blog-body{
  text-align: justify;
  padding: 20px;
}
.blog-author{
  color: #6495ed;
}
.create{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  color: #6495ed;
  margin-bottom: 30px;
}
.create input, .create select, .create textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border:1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.delete{
  padding: 10px;
  border: none;
  background-color: firebrick;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}